.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/big_foto.jpg') no-repeat 50%/cover;
    padding: 205px 30px 0 30px;

    &__title {
        width: 532px;
        margin-top: 10px;
    }

    &__subtitle {
        position: relative;
        z-index: 2;
        padding-left: 10px;
        @include before_circle;
        
    }

    .title_fz16 {
        color:#FFFFFF;
    }

    &__btns {
        margin-top: 25px;
        width: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        text-decoration: none;
        font-weight: bold;
        color: #FFFFFF;
        &:hover {
            color: #FFFFFF;
        }
    }
}